
@{
    ViewBag.Title = "twice";
}

<h2>你好！</h2>
<p>
    @ViewBag.b
</p>

<div>
    <table>
        <tr>
            <td>姓名：</td>
            <td>杨恩女</td>
        </tr>
        <tr>
            <td>性别：</td>
            <td>女</td>
        </tr>
        <tr>
            <td>学号：</td>
            <td>201731950115</td>
        </tr>
    </table>
</div>